

.select-custom .ant-select-selection-item {
  color: #595959;
}

.select-custom .ant-select-item-option-content {
  color: #595959;
}

.select-custom .ant-select-selection-item {
  color: #595959;
}
