.input-t {
    border: none;
    width: 70% !important;
}

.error {
    border: none;
}

.requered {
    display: flex; flex-wrap: nowrap;
}

.error>div.rti--container {
    box-sizing: border-box;
    margin: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    background-color: #ffffff;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: #ff7875 !important;
    border-radius: 6px;
    transition: all 0.2s;
}

.rti--container {
    box-sizing: border-box;
    margin: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    background-color: #ffffff;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 6px;
    transition: all 0.2s;
}

.rti--container:hover {
    border-color: #4096ff !important;
    box-shadow: none !important;
    border-inline-end-width: 1px !important;
    outline: 0 !important;
}

.rti--container:focus-within {
    border-color: #4096ff !important;
    box-shadow: none !important;
    border-inline-end-width: 1px !important;
    outline: 0 !important;
}

.rti--container:focus {
    border-color: #4096ff !important;
    box-shadow: none !important;
    border-inline-end-width: 1px !important;
    outline: 0 !important;
}

.tag-input {
    margin: 1px;
    border-start-start-radius: 17px !important;
    border-start-end-radius: 17px !important;
    border-end-start-radius: 17px !important;
    border-end-end-radius: 17px !important;
    background: #ededed;
    border: none;
    height: 22px;
}

.tag-input>label::before {
    background: #fff !important;
}

.tag-input>label::after {
    background: #fff !important;
}

.tag-input>button {
    font-size: 8.5px;
}

.div-campo-obrigatorio {
    display: flex;
    flex-wrap: nowrap;
}