span.versoes-titulo {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #595959;
}

.versoes-container .ant-card-head, .versoes-container .ant-card-body {
  padding: 16px;
}

.versoes-container .versoes-descricao span {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
}

.versoes-tabela-container {
  margin-top: 16px;
}

.versoes-wrapper {
  margin: 0 0 16px 0;
  padding: 0 32px 32px 32px;
  color: #595959;
}

.listagem-conteudo-direita .versoes-container.ant-card {
  padding: 0px;
  border-radius: 4px;
}