.listagem-tabela {
  background-color: #ffffff;
  margin: 16px 0px 16px 32px;
  font-family: Roboto;
  color: #595959;
}

.listagem-tabela.ant-card {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.listagem-tabela-head {
  display: flex;
}

.listagem-tabela-titulo {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
}

.listagem-tabela-subtitulo {
  padding-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.listagem-tabela-texto {
  flex: 1;
}

.listagem-tabela-filtrar {
  white-space: nowrap;
  width: auto;
  padding-left: 8px;
  font-weight: 500;
  font-size: 20px;
  color: #5a94d8;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.listagem-tabela-filtrar img {
  margin-right: 4px;
}

.listagem-tabela-conteudo {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  max-height: 500px;
  overflow-y: auto;
  width: calc(100% + 24px);
}

.listagem-item-tabela {
  border-bottom: 1px solid #d5d5d5;
  padding: 10px;
  margin-right: 16px;
  color: #595959;
}

.listagem-item-tabela:hover {
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #f5f5f5;
}

.listagem-item-tabela-conteudo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.listagem-item-tabela-head {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
}

.listagem-item-tabela-flex {
  flex: 1;
  justify-content: left;
  display: flex;
}

.listagem-item-tabela-auto {
  width: auto;
}

.listagem-item-tabela-rodape {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.listagem-item-tabela-rodape-info {
  margin-top: 4px;
}

.listagem-item-tabela-paginacao {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  align-items: center;
}

.listagem-item-tabela-select {
  width: 70px;
}

.listagem-item-tabela-select .ant-select-selector {
  border: 0px solid #ffff !important;
}

.listagem-tabela div[style*='overflow-y: auto'] {
  scrollbar-width: thin;
  scrollbar-color: #595959 transparent;
}

.listagem-tabela div[style*='overflow-y: auto']::-webkit-scrollbar {
  width: 8px;
}

.listagem-tabela div[style*='overflow-y: auto']::-webkit-scrollbar-track {
  background: transparent;
}

.listagem-tabela div[style*='overflow-y: auto']::-webkit-scrollbar-thumb {
  background-color: #595959;
  border-radius: 8px;
}

.listagem-tabela div[style*='overflow-y: auto']::-webkit-scrollbar-thumb:hover {
  background-color: #a6a6a6;
}
