.listagem-item-tabela {
  border-bottom: 1px solid #d5d5d5;

  padding: 10px;

  font-family: Roboto;
  color: #595959;
}

.listagem-item-tabela:hover {
  border-bottom: 1px solid #d5d5d5;

  padding: 10px;
  font-family: Roboto, sans-serif;
  color: #595959;
  cursor: pointer; 
  transition: all 0.2s ease;
  background-color: #f5f5f5;
}

.listagem-item-tabela-head {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
}

.listagem-item-tabela-flex {
  flex: 1;
  justify-content: center;
  display: 'flex';
}

.listagem-item-tabela-auto {
  width: auto;
}
