@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.cadastrarItemHeader {
    color: #595959;
}

.cadastrarItemHeader .ant-row {
    display: flex !important;
    align-items: center !important;
    padding: 1em;
}

.cadastrarItemHeader-retornar {
    text-align: left;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.cadastrarItemHeader-icone-retornar {
    font-size: 16px;
    margin-right: 8px;
    color: #5A94D8;
}

.cadastrarItemHeader-texto-retornar {
    margin-left: 8px;
    color: #5A94D8;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-family: Roboto, sans-serif;
}

.cadastrarItemHeader-titulo {
    color: #5A94D8;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    font-family: Roboto, sans-serif;
    text-align: center;
}

.cadastrarItemHeader-rota {
    text-align: left;
    background: #5A94D8;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    padding: 1em 3em 1em 3em;
}

.cadastrarItemHeader-rota-texto {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1em;
}

.cadastrarItemHeader-rota-titulo {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0.5em;
}

.cadastrarItemHeader-Breadcrumb-corpo {
    padding: 1em 3em 1em 2.6em;
    background: #327ACB;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-family: Roboto, sans-serif;
}

.cadastrarItemHeader-Breadcrumb-item01,
.cadastrarItemHeader-Breadcrumb-item02 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cadastrarItemHeader-Breadcrumb-item01-index,
.cadastrarItemHeader-Breadcrumb-item02-index {
    margin: 0 0.5em 0 0.5em;
    padding: 0 0.4em 0.4em 0.4em;
    border-radius: 4px;
    width: 8px;
    height: 16px;
    background: #FFFFFF;
    color: #327ACB;
    text-align: center;
}

.cadastrarItemHeader-Breadcrumb-separator {
    margin: 0 0.5em 0 0.5em;
    color: #FFFFFF;
}
.cadastrarItem-corpo {
    background: #EDEDED;
    padding: 2em 3em 3em 3em;
}
.cadastrarItem-titulo-corpo {
    
    color: #595959;
    background: #EDEDED;
    font-family: roboto, sans-serif;
}

.cadastrarItem-titulo {
    font-size: 24px;
    font-weight: 700;
    font-style: Bold;    
}

.cadastrarItem-subtitulo {
    font-size: 14px;
    font-weight: 400;
    font-style: Regular;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

/* outras classes */
.card{
    font-family: Roboto, sans-serif;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 1em 2.3em 1em 2.3em;
    color: #595959;
}

.card-titulo {
   font-size: 24px;
   font-weight: 700;
   font-style: Bold;
   margin-bottom: 0.5em;
}

.card-subtitulo {
    font-size: 14px;
    font-weight: 400;
    font-style: Regular;
    margin-bottom: 0.5em;    
}   

.card-campo{
    padding: 0em 1em 0em 0em;
}

@media (max-width: 768px) {
  .card-campo {
    padding: 0em 0em 0em 0em;
  }
}

.card-campo label{
    color: #595959 !important;
}